.TechnologyBtn {
  padding: 20px 15px;
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 5px 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}

.TechnologyBtn:hover {
  background-color: #e7efff;
}

.Checked {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}
