.TechnologyBtn {
  padding: 20px 0;
  border-top: 1px solid #eee;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}

.TechnologyBtn:hover {
  background-color: #e7efff;
}

.Checked {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}
