h1,
h3 {
  padding: 0 20px 0 20px;
}

.StartBtn {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background-color: #2f55a0;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
}

.StartBtn:hover {
  background-color: #5d83cf;
}

.StartBtn:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
}

.StartBtn:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
