.App-header {
  background-color: #2f55a0;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vh;
  color: white;
}

.App-main {
  background-color: #eee;
  height: 100%;
}
