.App-header {
  background-color: #2f55a0;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vh;
  color: white;
}

.App-main {
  background-color: #fff;
  margin: 50px auto 0 auto;
  width: 800px;
  padding: 20px 0 20px 0;
  border-radius: 5px;

  position: relative;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

.Title::before {
  content: "{ ";
}

.Title::after {
  content: " }";
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 850px) {
  .App-main {
    width: 90%;
  }
}
